<div id="id01"></div>

<script>
var xmlhttp = new XMLHttpRequest();
var url = "http://172.17.0.2:30740";

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = JSON.parse(this.responseText);
        document.getElementById("id01").innerHTML = "<h2>La hora es " + resp.time + "y el hostname es" + resp.hostname "</h2">;
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();
</script>
